nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0 4px 2px -2px rgb(192, 192, 192); /* Agrega una sombra inferior */

    overflow-x: auto; /* Permite el desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en iOS */
    scrollbar-width: none; /* Oculta el scroll en Firefox */
}
nav::-webkit-scrollbar {
    display: none; /* Oculta el scroll en navegadores basados en Webkit (Chrome, Safari) */
}
